
CMakeFiles/
CMakeCache.txt

##visual stuido
*/**/*.vcproj
*/**/*.vcxproj
*/**/*.vcxproj.filters
*/**/*.manifest

*.sln
**/*.cmake
**/*.dir
**/Debug/
**/vcproj
**/*.user
.vs/


###
**/*.dll
**/*.exp
**/*.ilk
**/*.lib
**/*.pdb
**/*.opendb
**/*.db
**/*.cso 
*/**/*.exe

## hlsl compile tmp
**/*.pixelShader
**/*.vertexShader
**/*.pixelFresnelShader
**/*.pixelNormalsShader
**/*.pixelReflectionlShader
**/*.pixelRefractionShader
/src/nv_GPUFilter/CTestTestfile.cmake
/src/nv_GPUFilter/cmake_install.cmake
/src/NV_D3DMesh/NV_D3DMeshDX9.vcproj
/src/NV_D3DMesh/NV_D3DMeshDX9Unicode.vcproj
/src/examples/MEDIA/programs/fxc.bat
